.menuBtn {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    position: absolute;
    width: 36px;
} 
md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
    margin: auto;
}


 md-content {
    margin-right: 7px; }
 .md-button:not(.md-fab) {
    min-width: 10em; }
 .md-button {
    display: block;
    margin: 1em;
    line-height: 25px; }
 .label {
    text-align: left;
    font-size: 14px; }

.s48 {
  width: 48px;
  height: 48px; }

