<div layout="column" flex id="content">
    <md-content layout="column" flex class="md-padding">

        <div ng-controller="srs.customerEditCtrl" layout="column">


            <md-content class="md-padding">
                <form name="userForm" ng-submit="update()" >

                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>First Name</label>
                            <input ng-model="user.firstName" placeholder="user.firstName">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Last Name</label>
                            <input ng-model="user.lastName">
                        </md-input-container>
                    </div>
                    <md-content  layout="row" layout-sm="column" style="font-size:1.2em">
                        <md-input-container>
                            <label>Email</label>
                            <input ng-model="user.email" type="email">
                        </md-input-container>
                    </md-content>
                    <md-input-container flex>
                        <label>Address</label>
                        <input ng-model="user.address">
                    </md-input-container>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>City</label>
                            <input ng-model="user.city">
                        </md-input-container>
                        <md-input-container flex>
                            <label>State</label>
                            <input ng-model="user.state">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Postal Code</label>
                            <input ng-model="user.postalCode">
                        </md-input-container>
                    </div>
                    <md-input-container flex>
                        <label>Notes</label>
                        <textarea ng-model="user.notes" columns="1" md-maxlength="150"></textarea>
                    </md-input-container>
                    <md-content layout="row"  layout-padding layout-align="center end" >
                        <md-button class="md-raised" href="#/customer">Cancel</md-button>
                        <md-button class="md-raised md-primary">update</md-button>
                    </md-content>
                </form>
            </md-content>
        </div>

    </md-content>
</div>
